<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game of Life</title>

    <style>
        h1 {
            text-align: center;
        }
        main {
            margin: auto;
        }
        aside {
            padding: 0.5em;
        }
        canvas {
            padding: 0.5em;
        }

        .fill-controls label {
            display: block;
        }
    </style>
</head>
<body>
    <main>
        <h1>Game of Life</h1>

        <aside>
            <button id="start-button">START</button>
            <button id="stop-button">STOP</button>
            <button id="next-button">NEXT</button>
            <button id="reset-button">RESET</button>
        </aside>

        <aside class="fill-controls">
            <label>
                <span>Fill board as a pattern:</span>
                <input id="fill-oscillator-checkbox" type="checkbox" name="fill-oscillator-checkbox" value="false" />
            </label>
            <label>
                <span>Fill space between:</span>
                <input id="fill-space-between-input" type="number" min="0" max="20" minlength="1" maxlength="2" size="2" value="2" />
            </label>
            <button id="pulsar-button">PULSAR</button>
            <button id="penta-decathlon-button">PENTA-DECATHLON</button>
            <button id="die-hard-button">DIE HARD</button>
        </aside>

        <aside>
            <label>
                <span>CELL SIZE</span>
                <input id="cell-size-input" type="number" min="1" max="40" value="4" minlength="1" maxlength="2" size="2" />
            </label>

            <label>
                <span>FPS</span>
                <input id="fps-input" type="number" min="1" max="60" value="30" minlength="1" maxlength="2" size="2" />
            </label>
        </aside>


        <canvas id="main-canvas"></canvas>
    </main>
</body>
</html>